<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome to Aagam Writes</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="../static/css/variables.css" rel="stylesheet">
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  {% include "header.html" %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
              {% for blog in all_blogs: %}
                {% if blog["id"] <= 4: %}
                <div class="swiper-slide">
                  <a href="{{ url_for('blog_post', sn=blog['id'], blog=blog) }}" class="img-bg d-flex align-items-end" style="background-image: url('../static/img/post-slide-1.jpg');">
                    <div class="img-bg-inner">
                      <h2>{{ blog["title"] }}</h2>
                      <p>{{ blog["subtitle"] }}</p>
                    </div>
                  </a>
                </div>
                {% endif %}
                {% endfor %}
          
              </div>
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-left"></span>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Latest Blogs Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Latest Blogs</h2>
          <div><a href="{{ url_for('blogs') }}" class="more">See All My Blogs</a></div>
        </div>

        <!--Column 1-->

        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-entry-1 lg">
              <a href="{{ url_for('blog_post', sn=all_blogs[-1]['id'], blog=all_blogs[-1] ) }}"><img src="" alt="" class="img-fluid"></a>
              <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2><a href="{{ url_for('blog_post', sn=all_blogs[-1]['id'], blog=all_blogs[-1] ) }}">{{ all_blogs[-1]["title"] }}</a></h2>
              <p class="mb-4 d-block">{{ all_blogs[-1]["subtitle"] }}</p>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-2]['id'], blog=all_blogs[-2] ) }}">{{ all_blogs[-2]["title"] }}</a></h2>
            </div>

            <div class="post-entry-1">
              <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-3]['id'], blog=all_blogs[-3] ) }}">{{ all_blogs[-3]["title"] }}</a></h2>
            </div>
          </div>

          <!--Column 2-->

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-4]['id'], blog=all_blogs[-4] ) }}"><img src="../static/img/post-landscape-6.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-4]['id'], blog=all_blogs[-4] ) }}">{{ all_blogs[-4]["title"] }}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-5]['id'], blog=all_blogs[-5] ) }}"><img src="../static/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-5]['id'], blog=all_blogs[-5] ) }}">{{ all_blogs[-5]["title"] }}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-6]['id'], blog=all_blogs[-6] ) }}"><img src="../static/img/post-landscape-4.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-6]['id'], blog=all_blogs[-6] ) }}">{{ all_blogs[-6]["title"] }}</a></h2>
                </div>
              </div>

              <!--Column 3-->

              <div class="col-lg-4 border-start custom-border">
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-7]['id'], blog=all_blogs[-7] ) }}"><img src="../static/img/post-landscape-6.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-7]['id'], blog=all_blogs[-7] ) }}">{{ all_blogs[-7]["title"] }}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-8]['id'], blog=all_blogs[-8] ) }}"><img src="../static/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-8]['id'], blog=all_blogs[-8] ) }}">{{ all_blogs[-8]["title"] }}</a></h2>
                </div>
                <div class="post-entry-1">
                  <a href="{{ url_for('blog_post', sn=all_blogs[-9]['id'], blog=all_blogs[-9] ) }}"><img src="../static/img/post-landscape-4.jpg" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-9]['id'], blog=all_blogs[-9] ) }}">{{ all_blogs[-9]["title"] }}</a></h2>
                </div>
              </div>

              <!--Column 4-->

              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-10]['id'], blog=all_blogs[-10] ) }}">{{ all_blogs[-10]["title"] }}</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-11]['id'], blog=all_blogs[-11] ) }}">{{ all_blogs[-11]["title"] }}</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-12]['id'], blog=all_blogs[-12] ) }}">{{ all_blogs[-12]["title"] }}</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-13]['id'], blog=all_blogs[-13] ) }}">{{ all_blogs[-13]["title"] }}</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-14]['id'], blog=all_blogs[-14] ) }}">{{ all_blogs[-14]["title"] }}</a></h2>
                </div>

                <div class="post-entry-1 border-bottom">
                  <div class="post-meta"><span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="{{ url_for('blog_post', sn=all_blogs[-15]['id'], blog=all_blogs[-15] ) }}">{{ all_blogs[-15]["title"] }}</a></h2>
                </div>

              </div>
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section><!-- End Latest Blogs Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>